<li>
	{{burger_name}}

	<button class="eat-burger" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#unless devoured}}DEVOUR IT!{{/unless}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>